In [61]:
import pandas as pd

In [62]:
#load titanic data set
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
#predict survival rate of passengers based on survived pclass sex age and fare
#create dependent and independent variables
inputs = df.drop(['PassengerId','Survived','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [64]:
#get target variable
target = df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [65]:
#remove strings from input varible
#convert string into number from input variables
#use label encoder
from sklearn.preprocessing import LabelEncoder

In [66]:
le_Sex = LabelEncoder()

In [67]:
#add new colun in input df
inputs['Sex_n'] = le_Sex.fit_transform(inputs['Sex'])
inputs.head()

   Pclass     Sex   Age     Fare  Sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [68]:
#drop column sex
inputs_n = inputs.drop(['Sex'],axis='columns')
inputs_n.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [69]:
#create decision tree model
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [70]:
#divide dataset into test and train
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train,y_test = train_test_split(inputs_n,target,test_size=0.2)

In [72]:
x_train.head()

     Pclass    Age     Fare  Sex_n
626       2  57.00  12.3500      1
798       3  30.00   7.2292      1
644       3   0.75  19.2583      0
838       3  32.00  56.4958      1
205       3   2.00  10.4625      0

In [73]:
len(x_train)

712

In [74]:
len(x_test)

179

In [36]:
len(y_train)

712

In [75]:
x_train.fillna(value = 0)

     Pclass    Age     Fare  Sex_n
626       2  57.00  12.3500      1
798       3  30.00   7.2292      1
644       3   0.75  19.2583      0
838       3  32.00  56.4958      1
205       3   2.00  10.4625      0
..      ...    ...      ...    ...
618       2   4.00  39.0000      0
715       3  19.00   7.6500      1
4         3  35.00   8.0500      1
631       3  51.00   7.0542      1
168       1   0.00  25.9250      1

[712 rows x 4 columns]

In [76]:
y_train

626    0
798    0
644    1
838    1
205    0
      ..
618    1
715    0
4      0
631    0
168    0
Name: Survived, Length: 712, dtype: int64

In [77]:
y_train.fillna(value=0)

626    0
798    0
644    1
838    1
205    0
      ..
618    1
715    0
4      0
631    0
168    0
Name: Survived, Length: 712, dtype: int64

In [81]:
inputs_n.isna()

     Pclass    Age   Fare  Sex_n
0     False  False  False  False
1     False  False  False  False
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False
..      ...    ...    ...    ...
886   False  False  False  False
887   False  False  False  False
888   False   True  False  False
889   False  False  False  False
890   False  False  False  False

[891 rows x 4 columns]

In [82]:
x_train.Age = x_train.Age.astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').